<!DOCTYPE html>
<html ng-app="myapp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MXNet Warehouse</title>
  <!-- Bootstrap core CSS -->
  <link href="./css/bootstrap.min.css" rel="stylesheet">
  <!-- Basic Module input -->
  <script src = "./js/angular.js"></script>
  <script src="./js/ui-bootstrap-tpls-2.5.0.js"></script>
  <script src="./js/Chart.min.js"></script>
  <script src="./js/angular-chart.min.js"></script>
  <!-- Main API -->
  <script src="./js/app.js"></script>
</head>

<body ng-controller="MyController" ng-init = "init()">
 <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <div class="navbar-header">
          <a class="navbar-brand">MX-warehouse</a>
        </div>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-success" ng-click="goLogin()">I want to upload a model!</button>
    </div>
  </div>
</nav>
<br><br><br>
<div class="container">
  <div class="jumbotron">
    <h2>Hello! Welcome To MXNet Warehouse</h2>
    <p class="lead">Search your favourite mxnet component in here: {{word}}</p>
    <div class="input-group input-group-lg">
      <input type="text" class="form-control" ng-model="word" placeholder="Word: res50, etc" aria-describedby="sizing-addon1">
      <div class="input-group-btn">
        <button type="button" class="btn btn-success" ng-click="searchword()">Search</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
    <div ng-show="showResult">
      <div ng-repeat="item in resultList">
            <div class="panel panel-default">
              <div class="panel-heading">{{item.name}}</div>
              <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div id="symbol-params" ng-show="item.type == 'symbol-params'">
                            <p><strong>type: </strong>{{item.type}}</p>
                            <p><strong>symbol URL: </strong>{{item.symbol_url}}</p>
                            <p><strong>params URL: </strong>{{item.params_url}}</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                      <p><strong>Download Statistics</strong></p>
                      <canvas id="line" class="chart chart-line" chart-data="item.usage"
                        chart-labels="item.labels">
                      </canvas>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="showError">
        Sorry, {{errorMsg}}
    </div>
</div>
        
  </body>
  </html>
